# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore Markdown files
*.md

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env
.env.local
.env.testing
.env.production

# Ignore node_modules directory
node_modules/

# Ignore npm package-lock.json
package-lock.json

# Ignore Docker files
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Ignore any other files or directories you don't want to track
# For example, if you have a virtual environment directory